/* achtergrond kleur */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
/* a geen streepje */
a {
    color: #007BFF;
    text-decoration: none;
}   

/* voeg styling toe voor een formulier, links uitlijnen */
form, .card {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* voeg styling toe voor input velden */
input[type="text"], input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}   
/* voeg styling toe voor submit knop */
button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}   
/* select moet op een volledige breedte staan */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}   
/* buttoon moet iets groter worden */
button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
/* element met id naam krijgt een underline */
#naam {
    text-decoration: underline;
    margin: 10px;
}
