<%- include('partials/header') %>
  <script src="/js/fetchapi.js" defer></script>
  <main>
    <h2>Welkom op <%= title %></h2>
    <p>Dit is de homepagina van <%= appNaam %>. Hier vind je een overzicht van onze bibliotheek en de nieuwste toevoegingen.</p>
    <ul id="boeken-lijst"></ul>
  </main>
<%- include('partials/footer') %>
