<%- include('partials/header') %>
  <main>
    <h2>Welkom op <%= title %></h2>
    <p>Dit is de homepagina van <%= appNaam %>. Hier vind je een overzicht van onze bibliotheek en de nieuwste toevoegingen.</p>
  </main>
<%- include('partials/footer') %>
