<%- include('partials/header') %>
<script src="/js/app.js" defer></script>
<script src="/js/localstoragecrd.js" defer></script>  
<main>
  <section>
  <h2><%= title %> boek aan mijn bibliotheek</h2>
  <form id="boek-form">
    <label for="titel">Titel</label>
    <input type="text" id="titel" name="titel" required />
   <label for="schrijver">Schrijver</label>
    <input type="text" id="schrijver" name="schrijver" required />
    <label for="genre">Genre</label>
    <select id="genre" name="genre">
      <option value="roman">Roman</option>
      <option value="non-fictie">Non-fictie</option>
      <option value="fictie">Fictie</option>
      <option value="fantasy">Fantasy</option>
      <option value="science-fiction">Science Fiction</option>
      <option value="biografie">Biografie</option>
    </select>
    <button id="add-book-btn" type="submit">Opslaan</button>
  </form>
  <article id="boek-lijst"></article>
  </section>
</main>
<%- include('partials/footer') %>
